section {
    width: 10em;
    height: 10em;
    background-color: red;
    border-radius: 50%;
    animation: move 10s infinite ease-in;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(90vw, 0vh);
    }

    100% {
        transform: translate(0, 0);
    }

}