section {
    width: 10em;
    height: 10em;
    background-color: red;
    border-radius: 50%;
    animation: move 10s infinite ease-in;
}

@keyframes move {
    0% {
        transform: translate(80vw, 0);
    }

    20% {
        transform: translate(0, 80vh);
    }

    40% {
        transform: translate(80vw, 80vh);
    }

    60% {
        transform: translate(0, 0);
    } 

    80% {
        transform: translate(80vw, 0);
    }

    100% {
        transform: translate(80vw, 0);
    }

}