/* for nav  */

* {
    font-family: 'Palette Mosiac', cursive;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    background-color: grey;
    color: white;
}

nav ul li {
    padding: 0.5em;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: blue;
    font-family: cursive; /* you're always better off using google fonts because you have more control over that and if you use the default then it will come off differently on different devices. If you use google fonts then it will be consistent on all devices. */
    font-size: 1.5em;
}

.active {
    background-color: 0.5em solid red; 
    /* or (you have to choose one) */
    /* border-bottom: 0.2em; solid green; */ /* This line doesn't like the green for some reason, it is underlined*/
}

/* or  for just the word to be a color you can use*/

.active a {
    color: yellow;
}

nav > ul li:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

footer {
    background-color: red;
    width: 100%;
    height: 5em;

    display: grid;
    grid-template-columns: repeat(4, auto); /* If you ever repeating something e.g. auto auto auto then you're doing something wrong, there's always a shortcut  */
    justify-items: center;
    align-items: center;
    /* add padding if you want them closer to each other (the icons), this will affect how it looks on different devices. You should only do this in desktop css */

    /* % is better in margins */

    /* because an icon is seen as a imagine in VSC, you need to treat it like an image so use an anchor tag */
}

footer a {
    color: white;
    font-size: 0.5em;

}

.contactLinks a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.contactLinks i {
    margin-right: 1em;
}

.contactLinks {
    background-color: blue;
    padding: 2em;
    width: 50%;
}

.contactPage {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contactPage form {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 1em;
    grid-gap: 0.5em; 
}

.contactPage form input {
    width: 50%;
}

/* just use the tools on the webpage to see what you like and then add it here */

main{
    margin-left: 155%;
    margin-right: 15%;
}
/* just to main allows it to only affect the main and not header and footer which can be stretched out */
/* the margin left and right lets you move the text to the center rather than keep have alot of space in the center which you dont want,,, only have a small margin if you have to have one */









/* for the body onwords */

main {
    margin: 15%;
    background-color: black;
    color: white;
}

.backG p {
    font-size: 5em;
    font-family: cursive;
    word-spacing: 100vw;
    width: 0.1em;
}

.backG {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    animation: down 2.5s infinite ease;
}

.backG p:nth-child(even) {
    animation: down 2.5s infinite ease;
}

.backG p:nth-child(odd) {
    animation: up 2.5s infinite ease;
}

@keyframes down {

    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@keyframes up {

    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}